@{
    ViewData["Title"] = "About";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->

<!-- <p>Use this area to provide additional information.</p> -->
    <div class="container">
        <div class="panel panel-default container-fluid">
            <div class="panel-heading">
                <h1>About US</h1>
            </div>
            <div class="panel-body">
                <p>We've been in the auto business since 1979 providing the best quality cars be it new or used.</p>
            </div>
        </div>
    </div>
</div>
