@{
    ViewData["Title"] = "About";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->

<!-- <p>Use this area to provide additional information.</p> -->
<i>Not an actual dealership</i>
<div class="container">
    <div class="panel panel-default container-fluid">
        <div class="panel-heading">
            <h1>About US</h1>
        </div>
        <div class="panel-body">
            <div class="imageContainer pull-right">
                <img class="img-responsive pull-right" src="~/images/auto-dealer-safety.jpg">
                our dealership located somewhere in NY...
            </div>
                <p>We've been in the auto business since 1979 providing the best quality cars be it new or used.
                    At our dealership, we have provided excellent customer service, selling over one million vehicles to customers who are dying to roll on wheels. We have a car that satisfies every customer's needs or your money back guaranteed!.
                </p>
        </div>
    <div class="pull-left">
        <h3>Some of the brands we offer</h3>
    </div>
    <hr />
        <div class="container pull-left">
            <div class="row">
                <div class="imageContainer col-md-5">
                    <img class="img-responsive" src="~/images/Honda-logo.png" />
                </div>
                <div class="imageContainer col-md-5">
                    <img class="img-responsive" src="~/images/Toyota-logo.png" />
                </div>
                <div class="imageContainer col-md-5">
                    <img class="img-responsive" src="~/images/Nissan-symbol.png" />
                </div>
            </div>
            <div class="row">
                <div class="imageContainer col-md-5">
                    <img class="img-responsive" src="~/images/Subaru_logo.png" />
                </div>
                <div class="imageContainer col-md-5">
                    <img class="img-responsive" src="~/images/Mazda-logo.png" />
                </div>
                <div class="imageContainer col-md-5">
                    <img class="img-responsive" src="~/images/Ford-logo.png" />
                </div>  
            </div>
        </div>
            
        <div class="pull-left">
            <p>More brands will be sold maybe...</p>
        </div>
        
        <!--Add more content later-->

    </div>
</div>