@model OnlineStoreMVC.Models.Person;

@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    @
                </div>
            </div>
        </div>
    </div>

    <a asp-action="CustomerRegistration" >go back</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}