@model OnlineStore.Models.Person;

@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="container">
    <div class="jumbotron">
        <h2>Customer Registration Confirmation</h2>
    </div>
</div>