@model OnlineStoreMVC.Models.Person;

@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="container">
    <div class="jumbotron">
        <h2>Customer Registration Confirmation</h2>
    </div>

    <p>@Html.DisplayNameFor(model => model.Firstname)</p>
    <p>@Html.DisplayFor(model => model.Firstname)</p>
    <p>@Html.DisplayNameFor(model => model.Lastname)</p>
    <p>@Html.DisplayFor(model => model.Lastname)</p>
</div>