﻿.panel-body{/*Fixex text from breaking out */
    word-wrap: break-word;
}


.imageContainer{
    font-size:medium;
    max-height:300px;
    max-width:300px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}



