﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="404Redirect.aspx.cs" Inherits="OnlineStore2._404Redirect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
   
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="server">
        <img style="max-width: 100%"src="http://i.imgur.com/vdU2Jlg.png" />
</asp:Content>
