@model OnlineStoreMVC.Models.Password;


@{
    ViewData["Title"] = "Edit password";
}



<div class="container">

    <div class="jumbotron">
        <h1>@ViewData["Title"]</h1>
    </div>

    <form asp-controller="Admin" asp-action="EditPassword" method="POST">
        <p class="text-danger">@ViewData["Error"]</p>
        <input type="hidden" asp-for="id">
        <div class="form-group">
            <label asp-for="OldPassword"></label>
            <input type="password" asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input type="password" asp-for="NewPassword" class="form-control"/ >
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Submit"></button>
            <a class="btn btn-default" asp-controller="Admin" asp-action="CustomerIndex">Cancel</a>
        </div>
         
    </form>

</div>







@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}