@model OnlineStoreMVC.Models.Person;

@{
    ViewData["Title"] = "Edit";
}



<div class="container">
    <div class="jumbotron">
        <h1>@ViewData["Title"]</h1>
    </div>

    <form asp-controller="Admin" asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="Firstname" class="control-label"></label>
            <input type="text" asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Lastname" class="control-label"></label>
            <input type="text" asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Addr1" class="control-label"></label>
            <input type="text" asp-for="Addr1" class="form-control" />
            <span asp-validation-for="Addr1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Addr2" class="control-label"></label>
            <input type="text" asp-for="Addr2" class="form-control" />
            <span asp-validation-for="Addr2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-default" />
            <a asp-controller="Admin" asp-action="CustomerIndex" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>


@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


