﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMasterPage.master.cs" Inherits="OnlineStore2.SiteAdmin.AdminMasterPage" %>

<!DOCTYPE html>
<!--master page for admin section -->
<html>
<head runat="server">
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/jquery-1.9.1.js"></script>
    <link href="../styles/masterStylesheet.css" rel="stylesheet" />
    <link href="../styles/CustomeMenuBar.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div>
         <nav class="nav navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="AdminDefault.aspx">Hardware Store Administration</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="NewProducts.aspx">Products</a></li>
                        <li><a href="CustAdmin2.aspx">Customers</a></li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li><a href="../Default.aspx"><span class="glyphicon glyphicon-log-in"></span>Home</a></li>
                    
                </div>
            </nav>


        <asp:ContentPlaceHolder ID="body" runat="server"/>
      
    </div>
</body>
</html>
